waitress==2.1.2
flask==2.3.2
flask-sqlalchemy==3.0.5
mysqlclient==2.2.0
sqlalchemy-utils==0.41.1
jinja2==3.1.2
flask-restx
sqlalchemy
pylint
PyYAML
boto3
jsonschema
redis
cryptography
flasgger
SQLAlchemy==1.4.48
PyMySQL==1.1.1
mysql-connector-python==8.1.0